{{ define "index" }}
<!-- Based on https://bl.ocks.org/mbostock/3884955 -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
    <link rel="stylesheet"
      href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="/static/style.css">

    <title>Environmental Monitor</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-auto">
          <h1>Environmental Monitor</h1>
        </div>
      </div>

      {{ if .Error }}
        <p>Error fetching data: {{ .Error }}</p>
      {{ else }}
        <div class="row">
          <div class="col-md-auto">
            <p>
              On the main plot, scroll to zoom and drag to translate.<br>
              On the context plot, resize the transparent gray area to zoom, and drag to translate.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-auto">
            <svg width="960" height="550"></svg>
          </div>
        </div>


        <div class="row">
          <div class="col-md-11">
            <hr>
            <h5>Change displayed data</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p>Date range</p>
            <form id="range-form" class="needs-validation"
              action="/" method="post" novalidate>
              <input type="hidden" name="form-name" value="range">

              <div class="form-row">
                <div class="col-md mb-3">
                  <label for="startdate" class="sr-only">Start Date</label>
                  <input type="text" id="startdate" name="startdate"
                    class="form-control form-control-sm"
                    placeholder="yyyy-mm-dd" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                    required>
                  <div id="startdate-feedback" class="invalid-feedback">
                    Format must be yyyy-mm-dd
                  </div>
                  <input type="hidden" id="startdate-adjusted" name="startdate-adjusted">
                </div>

                <div class="col-md mb-3">
                  <label for="enddate" class="sr-only">End Date</label>
                  <input type="text" id="enddate" name="enddate"
                    class="form-control form-control-sm"
                    placeholder="yyyy-mm-dd" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"
                    required>
                  <div id="enddate-feedback" class="invalid-feedback">
                    Format must be yyyy-mm-dd
                  </div>
                  <input type="hidden" id="enddate-adjusted" name="enddate-adjusted">
                </div>

                <div class="col-md mb-3">
                  <button type="submit" class="btn btn-sm">Go!</button>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-4">
            <p>Hours ago</p>
            <form id="hoursago-form" class="needs-validation"
              action="/" method="post" novalidate>
              <input type="hidden" name="form-name" value="hoursago">

              <div class="form-row">
                <div class="col-md mb-3">
                  <label for="hoursago" class="sr-only">Hours Ago</label>
                  <input type="number" id="hoursago" name="hoursago"
                    class="form-control form-control-sm"
                    min="1" step="1" required>
                  <div id="hoursago-feedback" class="invalid-feedback">
                    Must be a positive integer
                  </div>
                </div>

                <div class="col-md mb-3">
                  <button type="submit" class="btn btn-sm">Go!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      {{ end }}
    </div>
  </body>

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script
    src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
    integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
    crossorigin="anonymous"></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>

  <script src="/static/legend.js"></script>

  <script type="text/javascript">
    function makePlot(data) {
      var svg = d3.select("svg");
      var margin = {top: 0, right: 20, bottom: 150, left: 50};
      var margin2 = {top: 435, right: 20, bottom: 50, left: 50};

      var width = +svg.attr("width") - margin.left - margin.right;

      var height = +svg.attr("height") - margin.top - margin.bottom;
      var height2 = +svg.attr("height") - margin2.top - margin2.bottom;

      var x = d3.scaleTime().range([0, width]);
      var x2 = d3.scaleTime().range([0, width]);
      var y = d3.scaleLinear().range([height, 0]);
      var y2 = d3.scaleLinear().range([height2, 0]);
      var z = d3.scaleOrdinal(d3.schemeCategory10);

      var line = d3.line()
          .curve(d3.curveBasis)
          .x(function(d) { return x(d.timestamp); })
          .y(function(d) { return y(d.temp); });

      var line2 = d3.line()
          .curve(d3.curveBasis)
          .x(function(d) { return x2(d.timestamp); })
          .y(function(d) { return y2(d.temp); });

      x.domain([new Date({{ millis .StartTime }}),
                new Date({{ millis .EndTime }})]);
      x2.domain(x.domain());

      // We can only set y and z domains if we have data
      if (data != null) {
        y.domain([
          d3.min(data, function(c) {
            return d3.min(c.values, function(d) {
              return d.temp;
            });
          }),
          d3.max(data, function(c) {
            return d3.max(c.values, function(d) {
              return d.temp;
            });
          })
        ]);

        // Add a 5% margin to the domain so that lines
        // aren't right at the top or bottom
        var d = y.domain();
        var adjustment = Math.abs(d[1] - d[0]) * 0.05;
        y.domain([d[0] - adjustment, d[1] + adjustment])

        y2.domain(y.domain());

        z.domain(data.map(function(c) { return c.id; }));
      }

      var brush = d3.brushX()
          .extent([[0, 0], [width, height2]])
          .on("brush end", brushed);

      var zoom = d3.zoom()
          .scaleExtent([1, Infinity])
          .translateExtent([[0, 0], [width, height]])
          .extent([[0, 0], [width, height]])
          .on("zoom", zoomed);

      var xAxis = d3.axisBottom(x);
      var xAxis2 = d3.axisBottom(x2);
      var yAxis = d3.axisLeft(y);

      // This ensures that the lines don't run off the plot
      svg.append("defs").append("clipPath")
          .attr("id", "clip")
        .append("rect")
          .attr("width", width)
          .attr("height", height);

      // The "focus" plot is the taller one at the top
      var focus = svg.append("g")
          .attr("class", "focus")
          .attr("transform",
                "translate(" + margin.left + "," + margin.top + ")");

      // The "context" plot is the shorter one at the bottom. It doesn't have
      // a y-axis because it's so small. It's meant to give a sense of the
      // region you're looking at when you're zoomed in on the focus plot.
      var context = svg.append("g")
          .attr("class", "context")
          .attr("transform",
                "translate(" + margin2.left + "," + margin2.top + ")");

      focus.append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis);

      focus.append("g")
          .attr("class", "axis axis--y")
          .call(yAxis)
        .append("text")
          .attr("text-anchor", "middle")
          .attr("transform", "rotate(-90)")
          .attr("dy", -margin.left + 15)
          .attr("dx", -height / 2)
          .attr("fill", "#000")
          .text("Temperature (°C)");

      // The context plot just gets an x-axis
      context.append("g")
          .attr("class", "axis axis--x")
          .attr("transform", "translate(0," + height2 + ")")
          .call(xAxis2);

      // If we don't have any data to display, say so and bail out
      // before attempting to draw lines
      if (data === null) {
        focus.append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
          .append("text")
            .attr("text-anchor", "middle")
            .attr("fill", "#000")
            .text("No data in this time range");
        return;
      }

      // Draw lines on the focus plot
      focus.selectAll(".device")
          .data(data)
        .enter().append("g")
          .attr("class", "device")
        .append("path")
          .attr("class", "line")
          .attr("d", function(d) { return line(d.values); })
          .style("stroke", function(d) { return z(d.id); })
          .style("fill", function(d) { return "none"; });

      // Draw lines on the context plot
      context.selectAll(".device")
          .data(data)
        .enter().append("g")
          .attr("class", "device")
        .append("path")
          .attr("class", "line")
          .attr("d", function(d) { return line2(d.values); })
          .style("stroke", function(d) { return z(d.id); })
          .style("fill", function(d) { return "none"; });

      // Add a legend at the very bottom
      var legendRectSize = 15;
      var legendFunc = legend()
        .rectSize(legendRectSize)
        .label(function(d) { return d.id; })
        .color(function(d) { return z(d.id); });

      focus.append("g")
        .attr("class", "legend")
        .style("font", "11px sans-serif")
        .attr("transform",
              "translate(" + 0 + "," + (height + margin.top + margin.bottom
                                        - legendRectSize * 1.25) + ")")
        .call(legendFunc, data);

      context.append("g")
        .attr("class", "brush")
        .call(brush)
        .call(brush.move, x.range());

      svg.append("rect")
        .attr("class", "zoom")
        .attr("width", width)
        .attr("height", height)
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
        .call(zoom);

      function brushed() {
        if (d3.event.sourceEvent && d3.event.sourceEvent.type === "zoom") {
          // Ignore brush-by-zoom
          return;
        }

        var s = d3.event.selection || x2.range();
        x.domain(s.map(x2.invert, x2));
        focus.selectAll(".line")
            .attr("d", function(d) { return line(d.values); });
        focus.select(".axis--x").call(xAxis);
        svg.select(".zoom").call(
            zoom.transform,
            d3.zoomIdentity.scale(width / (s[1] - s[0])).translate(-s[0], 0));
      }

      function zoomed() {
        if (d3.event.sourceEvent && d3.event.sourceEvent.type === "brush") {
          // Ignore zoom-by-brush
          return;
        }

        var t = d3.event.transform;
        x.domain(t.rescaleX(x2).domain());
        focus.selectAll(".line")
            .attr("d", function(d) { return line(d.values); });
        focus.select(".axis--x").call(xAxis);
        context.select(".brush").call(brush.move, x.range().map(t.invertX, t));
      }
    }

    var datepickerTimeFormat = "%Y-%m-%d";
    var parseTime = d3.timeParse(datepickerTimeFormat);
    var formatTime = d3.timeFormat(datepickerTimeFormat);

    function validateDateRange() {
      var start = parseTime($("#startdate").val());
      var end = parseTime($("#enddate").val());

      var valid = true;
      var now = new Date();
      if (end > now) {
        $("#enddate-feedback").html("End cannot be after today");

        // Mark the end date field invalid. This value isn't displayed, the
        // content of #enddate-feedback is.
        $("#enddate")[0].setCustomValidity("invalid");

        valid = false;
      } else {
        $("#enddate")[0].setCustomValidity("");
      }

      // Check that start date is before end date. Equal dates are fine.
      if (end < start) {
        $("#startdate-feedback").html("Start must be before end");

        // Mark the field invalid. This value isn't displayed, the
        // content of #startdate-feedback is.
        $("#startdate")[0].setCustomValidity("invalid");

        valid = false;
      } else {
        $("#startdate")[0].setCustomValidity("");
      }

      return valid;
    }

    function validateDateRangeIfFormSubmitAttempted() {
      if (!$("#range-form").hasClass("was-validated")) {
        return true;
      }

      return validateDateRange();
    }

    {{ if not .Error }}
      var valuesByDevice = {{ .Measurements }};

      // Convert offsets from the epoch to Date objects
      for (var device in valuesByDevice) {
        for (var v in device.values) {
          v.timestamp = new Date(v.timestamp);
        }
      }

      $(document).ready(function() {
        // Set up datepickers
        $("#startdate").datepicker({
          dateFormat: "yy-mm-dd",
          maxDate: 0,  // 0 days from today, i.e. today is the max date
          onSelect: function(dateText, inst) {
            validateDateRangeIfFormSubmitAttempted();
          }
        });
        $("#enddate").datepicker({
          dateFormat: "yy-mm-dd",
          maxDate: 0,  // 0 days from today, i.e. today is the max date
          onSelect: function(dateText, inst) {
            validateDateRangeIfFormSubmitAttempted();
          }
        });

        // Provide real-time feedback on form changes
        $("#startdate").on("input", validateDateRangeIfFormSubmitAttempted);
        $("#enddate").on("input", validateDateRangeIfFormSubmitAttempted);

        {{ if .FillRangeForm }}
          $("#startdate").val(formatTime(new Date({{ millis .StartTime }})));
          $("#enddate").val(formatTime(new Date({{ millis .EndTime }})));
        {{ else }}
          $("#range-form").trigger("reset");
        {{ end }}

        {{ if .FillHoursAgoForm }}
          $("#hoursago").val({{ .HoursAgo }});
        {{ else }}
          $("#hoursago-form").trigger("reset");
        {{ end }}

        $("#range-form").submit(function(event) {
          // Check that the pattern constraints specified in the HTML hold,
          // and that the dates meet custom constraints
          if (!this.checkValidity() || !validateDateRange()) {
            event.preventDefault();
            event.stopPropagation();
            this.classList.add('was-validated');
            return false;
          }

          var start = parseTime($("#startdate").val());
          var end = parseTime($("#enddate").val());

          // Turn the dates into full timestamps. The range is the beginning of
          // the start day to the end of the end day.
          start = new Date(
              start.getFullYear(), start.getMonth(), start.getDate(), 0, 0, 0);
          end = new Date(
              end.getFullYear(), end.getMonth(), end.getDate(), 23, 59, 59);

          // These are the values that the server actually uses, in UTC
          $("#startdate-adjusted").val(start.toISOString());
          $("#enddate-adjusted").val(end.toISOString());

          this.classList.add('was-validated');
        });

        // No custom constraints here, but it's required in order to use
        // Bootstrap's error styling instead of the browser default
        $("#hoursago-form").submit(function(event) {
          if (this.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }

          this.classList.add('was-validated');
        });

        makePlot(valuesByDevice);
      });
    {{ end }}
  </script>
</html>
{{ end }}
