.line {
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.brush rect.selection {
  fill-opacity: 0.2;
  stroke: gray;
  stroke-opacity: 0.5;
  stroke-width: 1;
  stroke-dasharray: 5,5;
}

.legend-border {
  fill: white;
  stroke: black;
}

svg {
  width: 100%;
  height: 100%;
}

small.timeago {
  color: gray;
}
