# /lib/systemd/system/iotcorelogger.service
# sudo systemctl enable iotcorelogger.service
[Unit]
Description=iotcorelogger
ConditionPathExists=/home/pi/iotcorelogger

[Service]
Type=simple
Restart=always
RestartSec=2
User=pi
Group=pi
ExecStart=/home/pi/iotcorelogger -config /home/pi/iotcore_credentials/config.pb.json

[Install]
WantedBy=multi-user.target
