# Requirements for logging data. Install this requirements file on
# the Raspberry Pi / BeagleBone.

-r requirements_common.txt

# https://github.com/adafruit/Adafruit_Python_MCP9808
# https://pypi.python.org/pypi/Adafruit-MCP9808
# Depends on Adafruit's cross-platform GPIO library:
#   https://github.com/adafruit/Adafruit_Python_GPIO
Adafruit-MCP9808>=1.5.3

cryptography>=2.1.3
google-cloud-pubsub>=0.30.1
oauth2client>=4.1.3
paho-mqtt>=1.3.1
protobuf>=3.6.1
pyjwt>=1.5.3
requests>=2.18.4
